/*
* CSS for Design Donation Open Theme
* Author : Homer Gaines
* URL : http://designdonation.github.io/
*/


body{margin:0px; padding:0px; color: #8db0cc;}

h1,h2,h3 {font-family: 'Kameron', serif;}

h1{font-size:24px}

p,a {font-family: 'Arimo', sans-serif;}

#main{text-align: center; margin:15% auto ;}
